@charset "utf-8";

/* ーーーーーーーーーー共通部分ここからーーーーーーーーーー */
.inner {
  width: 1920px;
}
/* ーーーーーーーーーーSP共通部分ここまでーーーーーーーーーー */
@media screen and (max-width:400px) {
  .inner {
    width: 100%;
  }
}
/* ーーーーーーーーーーメイン部分ここからーーーーーーーーーー */
.container {
  width: 1920px;
  position: relative;
}
.section {
  width: 100%;
  padding: 64px 64px 48px;
}
.section-name {
  font-size: 192px;
  letter-spacing: -10px;
  margin: 0 0 32px;
  line-height: 100%;
}
.section-kana {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1px;
  opacity: .7;
}
.image {
  width: 100%;
  height: 1000px;
  img {
    height: 100%;
  }
}
.container2 {
  width: 1920px;
  height: calc(552px + 634px + 2px);
  padding: 64px;
}
.content1 {
  width: 100%;
  height: 488px;
  padding: 0 0 64px;
  border-bottom: 1px solid #1E1E21;
  display: flex;
}
.priority {
  width: calc(100% - 130px - 478px);
  margin: 0 65px 0 0;
  font-size: 96px;
  line-height: 110%;
  letter-spacing: -4px;
  color: #1E1E21;
}
.line {
  border: 1px solid #1E1E21;
}
.me {
  position: relative;
  width: 478px;
  margin: 0 0 0 65px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
  color: #1E1E21;
}
.sns-list {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 176px;
  height: 48px;
  justify-content: space-between;
}
.sns-link {
  width: 48px;
  height: 48px;
  background: #1E1E21;
  border-radius: 50px;
  padding: 6px 12px;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}
.content2 {
  display: flex;
  width: 100%;
  height: 506px;
  padding: 64px 0 0;
}
.content2-box {
  width: 446px;
  height: 50px;
  margin: 0 65px 0 0;
  display: flex;
  justify-content: space-between;
}
.content2-text {
  width: 364px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
  display: inline;
}
.content2-box .image {
  position: relative;
  width: 50px;
  height: 50px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
  }
}
.design {
  width: calc(100% - 446px - 65px);
  height: 506px;
  padding: 0 0 0 65px;
  border-left: 2px solid #1E1E21;
}
.design-contena1 {
  width: 100%;
  display: flex;
  padding: 0 0 65px;
  border-bottom: 2px solid #1E1E21;
}
.contena1-box1,
.contena2-box1 {
  width: calc(100% / 2);
  margin: 0 64px 0 0;
}
.contena1-box2,
.contena2-box2 {
  width: calc(100% / 2);
  margin: 0 0 0 64px;
}
.design-title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1px;
  margin: 0 0 16px;
}
.design-text {
  width: 100%;
  height: 114px;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  opacity: .7;
  letter-spacing: -1px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.design-line {
  border: 1px solid #1E1E21;
}
.design-spline {
  display: none;
}
.design-contena2 {
  width: 100%;
  display: flex;
  padding: 65px 0 0;
}
/* ーーーーーーーーーーメイン部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーSPメイン部分ここまでーーーーーーーーーー */
@media screen and (max-width:400px) {
  .container {
    width: 100%;
    position: relative;
    padding: 85px 0 0;
  }
  .section {
    width: 100%;
    padding: 13px 13px 10px;
  }
  .section-name {
    font-size: 80px;
    letter-spacing: -4px;
    margin: 0 0 7px;
    line-height: 110%;
  }
  .section-kana {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -.2px;
    opacity: .7;
  }
  .image {
    width: 100%;
    height: 230px;
    img {
      height: 100%;
    }
  }
  .container2 {
    width: 100%;
    height: auto;
    padding: 40px 20px 102px 20px;
  }
  .content1 {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0 0 48px;
    /* border-bottom: none; */
  border-bottom: 1px solid #1E1E21;

    display: grid;
  }
  .priority {
    order: 2;
    width: 100%;
    margin: 0 0 40px;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #1E1E21;
  }
  .line {
    border: none;
  }
  .me {
    width: 242px;
    height: 114px;
    margin: 0 0 40px 0;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #1E1E21;
  }
  .sns-list {
    display: flex;
    width: 242px;
    height: 66px;
    justify-content: space-between;
  }
  .sns-link {
    width: 66px;
    height: 66px;
    background: #1E1E21;
    border-radius: 50px;
    padding: 8px 16px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 27px;
      height: 27px;
    }
  }
  .content2 {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .content2-box {
    width: 100%;
    height: 30px;
    margin: 0 2px 43px;
    display: flex;
    justify-content: space-between;
  }
  .content2-text {
    width: 60%;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
    display: inline-block;
  }
  .content2-box .image {
    position: relative;
    width: 30px;
    height: 30px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
    }
  }
  .design {
    width: 100%;
    height: auto;
    padding: 0;
    border-left: none;
  }
  .design-contena1 {
    width: 100%;
    display: block;
    padding: 0;
    border-bottom: none;
  }
  .contena1-box1,
  .contena2-box1 {
    width: 100%;
    margin: 0 0 27px;
  }
  .contena1-box2,
  .contena2-box2 {
    width: 100%;
    margin: 31px 0 0;
  }
  .design-title {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0 0 10px;
  }
  .design-text {
    width: 100%;
    height: 128px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    opacity: .7;
    letter-spacing: 0px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
  .design-line {
    border: 1px solid #1E1E21;
  }
  .design-spline {
    display: block;
    margin: 31px 0 0;
    border: 1px solid #1E1E21;
  }
  .design-contena2 {
    width: 100%;
    display: block;
    padding: 31px 0 0;
  }
}

/* ーーーーーーーーーーSPメイン部分ここまでーーーーーーーーーー */


/* ーーーーーーーーーーフッター部分ここからーーーーーーーーーー */
.footer {
  width: 1920px;
  height: 750px;
  color: #F5F3EF;
  background: #1E1E21;
  padding: 157px 64px 138px;
}
.f-inner {
  position: relative;
  width: 100%;
  height: 286px;
  text-align: center;
}
.f-name {
  width: 100%;
  margin: 0 0 32px;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
}
.f-button {
  position: absolute;
  bottom: 0;
  left: 827px;
  background: #F5F3EF;
  border-radius: 50px;
  padding: 20px 30px;
  width: 138px;
  a {
    font-size: 20px;
    line-height: 110%;
    color: #1E1E21;
  }
}
.f-box {
  height: calc(750px - (157px + 138px + 286px));
  position: relative;
}
.f-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 569px;
  height: 29px;
  display: flex;
  justify-content: space-between;
}
.f-l-item {
  width: 111px;
  height: 100%;
  a {
    font-size: 24px;
    line-height: 120%;
    color: #F5F3EF;
  }
}
/* ーーーーーーーーーーフッター部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーSPフッター部分ここからーーーーーーーーーー */
@media screen and (max-width:400px) {
  .footer {
    width: 100%;
    height: 454px;
    padding: 53px 50px;
  }
  .f-inner {
    height: calc(454px - (53px + 53px + 239px));
  }
  .f-name {
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .f-button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 16px;
    width: 77px;
    height: 34px;
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 11px;
      line-height: 110%;
    }
  }
  .f-box {
    height: 239px;
  }
  .f-list {
    display: flex;
    flex-direction: column;
    width: 92px;
    height: 182px;
  }
  .f-l-item {
    text-align: center;
    width: 100%;
    height: 24px;
    a {
      font-size: 20px;
    }
  }
}
/* ーーーーーーーーーーSPフッター部分ここまでーーーーーーーーーー */
