@charset "utf-8";
/* ーーーーーーーーーーメイン部分ここからーーーーーーーーーー */
br {
  display: none;
}
.container {
  position: relative;
  width: 1920px;
}
.content {
  height: 1751px;
}
.content .image {
  height: 1200px;
}
.content .image img {
  height: 100%;
}
.content-info {
  width: 100%;
  padding: 64px;
  height: calc(100% - 1200px);
}
.info-title {
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
}
.content-table {
  display: flex;
  width: 100%;
  height: 231px;
}
.table-text {
  width: calc(100% - 564px);
  height: 100%;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2px;
}
.table-box {
  width: 564px;
  height: 100%;
  padding: 0 0 0 64px;
}
.table-warp {
  width: 500px;
  height: 69px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1E1E21;
}
.warp-title {
  font-size: 24px;
  height: 120%;
}
.warp-info {
  font-size: 24px;
  height: 120%;
}

.content2 {
  width: 100%;
  height: 969px;
  padding: 64px 64px 0;
  display: flex;
}
.content2-warp1 {
  width: 53%;
  margin: 0 64px 0 0;
}
.content2-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.content2-title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
}
.content2-image {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 0 0 32px;
}
.content2-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
.content2-line {
  border: 1px solid #1E1E21;
}
.content2-warp2 {
  margin: 0 0 0 64px;
}
.box {
  width: 100%;
  height: 215px;
}
.box-line {
  border: 1px solid #1E1E21;
  margin: 64px 0 64px 0;
}
.title {
  font-size: 24px;
  line-height: 120%;
  display: inline-block;
  margin: 0 0 16px;
}
.name {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1px;
  margin: 0 0 16px;
}
.ltext {
  font-size: 20px;
  line-height: 160%;
  opacity: .7;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.gallery {
  width: 100%;
  height: 3270px;
}
.gallery-image {
  display: none;
}
.gallery-title {
  height: 150px;
  padding: 64px 64px 48px 64px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
}
.gallery-image1 {
  width: 100%;
  height: 1920px;
}
.gallery-image1 img {
  height: 100%;
}
.gallery-image2 {
  width: 100%;
  height: 1200px;
}
.gallery-image2 img {
  height: 100%;
}
/* ーーーーーーーーーーメイン部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーSPメイン部分ここからーーーーーーーーーー */
@media screen and (max-width:400px) {
  .container {
    position: relative;
    width: 100%;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .content .image {
    height: 250px;
  }
  .content .image img {
    height: 100%;
  }
  .content-info {
    width: 100%;
    padding: 85px 23px 0 23px;
    height: auto;
  }
  .info-title {
    font-size: 80px;
    line-height: 110%;
    letter-spacing: -4px;
    margin: 0 0 10px;
  }
  .content-table {
    display: block;
    width: 100%;
    height: auto;
  }
  .table-text {
    width: 100%;
    height: auto;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: -.7px;
    margin: 0 0 22px;
  }
  .table-box {
    width: 100%;
    height: auto;
    padding: 25px 0 25px;
  }
  .table-warp {
    width: 100%;
    height: auto;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1E1E21;
  }
  .warp-title {
    font-size: 17px;
    height: 120%;
  }
  .warp-info {
    font-size: 17px;
    height: 120%;
  }
  .content2 {
    width: 100%;
    height: auto;
    padding: 57px 19px 57px 20px;
    display: block;
  }
  .content2-warp1 {
    width: 100%;
    margin: 0 0 71px;
  }
  .content2-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .content2-title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
  }
  .content2-image {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 26px;
  }
  .content2-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
  }
  .content2-line {
    border: none;
  }
  .content2-warp2 {
    margin: 0;
  }
  .box {
    width: 100%;
    height: auto;
  }
  .box-line {
    border: 1px solid #1E1E21;
    margin: 27px 0 29px 0;
  }
  .title {
    font-size: 24px;
    line-height: 120%;
    display: inline-block;
    margin: 0 0 10px;
  }
  br {
    display: block;
  }
  .name {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0 0 10px;
  }
  .ltext {
    font-size: 20px;
    line-height: 160%;
    opacity: .7;
    overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
  }
  .gallery {
    width: 100%;
    height: auto;
  }
  .gallery-warp {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 19px;
  }
  .gallery-title {
    height: auto;
    padding: 0;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
  }
  .gallery-image {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 10px 0 auto;
  }
  .gallery-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
  }
  .gallery-image1 {
    width: 100%;
    height: 400px;
  }
  .gallery-image1 img {
    height: 100%;
  }
  .gallery-image2 {
    width: 100%;
    height: 250px;
  }
  .gallery-image2 img {
    height: 100%;
  }
}
/* ーーーーーーーーーーSPメイン部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーフッター部分ここからーーーーーーーーーー */
.footer {
  width: 1920px;
  height: 750px;
  color: #F5F3EF;
  background: #1E1E21;
  padding: 157px 64px 138px;
}
.f-inner {
  position: relative;
  width: 100%;
  height: 286px;
  text-align: center;
}
.f-name {
  width: 100%;
  margin: 0 0 32px;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
}
.f-button {
  position: absolute;
  bottom: 0;
  left: 827px;
  background: #F5F3EF;
  border-radius: 50px;
  padding: 20px 30px;
  width: 138px;
}
.f-button a {
  font-size: 20px;
  line-height: 110%;
  color: #1E1E21;
}
.f-box {
  height: calc(750px - (157px + 138px + 286px));
  position: relative;
}
.f-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 569px;
  height: 29px;
  display: flex;
  justify-content: space-between;
}
.f-l-item {
  width: 111px;
  height: 100%;
}
.f-l-item a {
  font-size: 24px;
  line-height: 120%;
  color: #F5F3EF;
}
/* ーーーーーーーーーーフッター部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーSPフッター部分ここからーーーーーーーーーー */
@media screen and (max-width:400px) {
  .footer {
    width: 100%;
    height: 454px;
    padding: 53px 50px;
  }
  .f-inner {
    height: calc(454px - (53px + 53px + 239px));
  }
  .f-name {
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .f-button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 16px;
    width: 77px;
    height: 34px;
  }
  .f-button a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    line-height: 110%;
  }
  .f-box {
    height: 239px;
  }
  .f-list {
    display: flex;
    flex-direction: column;
    width: 92px;
    height: 182px;
  }
  .f-l-item {
    text-align: center;
    width: 100%;
    height: 24px;
  }
  .f-l-item a {
    font-size: 20px;
  }
}
/* ーーーーーーーーーーSPフッター部分ここまでーーーーーーーーーー */