@charset "utf-8";
/* ーーーーーーーーーーメイン部分ここからーーーーーーーーーー */
body.no_scroll {
  overflow: hidden;
}
.container {
  position: relative;
  width: 1920px;
}
.container-warp {
  width: 100%;
  padding: 64px;
}
.container-warp-title {
  width: 100%;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
}
.container-warp-text {
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2px;
}
.content {
  width: 100%;
  height: auto;
}
.content a {
  width: 100%;
  height: 1224px;
}
.content .image {
  height: auto;
}
.content .image img {
  height: 100%;
}
.warp {
  width: 1920px;
  padding: 48px 64px;
  display: flex;
  justify-content: space-between;
  color: #1E1E21;
}
.warp-title {
  display: inline-block;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: -4px;
}
.warp-box {
  width: 700px;
  margin: 0 0 0 48px;
}
.warp-box-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  height: 76px;
  opacity: .7;
  margin: 0 0 14px 0;
  overflow: scroll;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.btn {
  display: flex;
}
.btn-w {
  width: 120px;
  height: 38px;
  background: #1E1E21;
  border-radius: 50px;
  position: relative;
  padding: 10px 16px;
}
.btn-w p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 110%;
  color: #F5F3EF;
}
.btn-w:nth-child(1) {
  margin: 0 8px 0 0;
}
.btn-b {
  width: 120px;
  height: 38px;
  background: #1E1E21;
  border-radius: 50px;
  position: relative;
}
.btn-b p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 110%;
  color: #F5F3EF;
}
/* ーーーーーーーーーーメイン部分ここまでーーーーーーーーーー */
/* ーーーーーーーーーーSPメイン部分ここからーーーーーーーーーー */
@media screen and (max-width:400px) {
  .container {
    position: relative;
    width: 100%;
  }
  .container-warp {
    width: 100%;
    padding: 57px 23px;
  }
  .container-warp-title {
    width: 100%;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: -4px;
    margin: 0 0 10px;
  }
  .container-warp-text {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: -.7px;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .content a {
    width: 100%;
    height: auto;
  }
  .content .image {
    height: auto;
  }
  .content .image img {
    height: 100%;
  }
  .warp {
    width: 100%;
    padding: 21px 20px 0;
    display: block;
    color: #1E1E21;
    margin: 0 0 85px;
  }
  .warp-title {
    display: inline-block;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0 0 6px;
  }
  .warp-box {
    width: 100%;
    margin: 0;
  }
  .warp-box-text {
    width: 100%;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    opacity: .7;
    margin: 0 0 22px 0;
    overflow: scroll;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .btn {
    display: flex;
  }
  .btn-w {
    width: 117px;
    height: 36px;
    background: #1E1E21;
    border-radius: 50px;
    position: relative;
    padding: 9px 15px;
  }
  .btn-w p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 110%;
    color: #F5F3EF;
  }
  .btn-w:nth-child(1) {
    margin: 0 8px 0 0;
  }
  .btn-b {
    width: 117px;
    height: 36px;
    background: #1E1E21;
    border-radius: 50px;
    position: relative;
  }
  .btn-b p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 110%;
    color: #F5F3EF;
  }
}
/* ーーーーーーーーーーSPメイン部分ここまでーーーーーーーーーー */
/* ーーーーーーーーーーフッター部分ここからーーーーーーーーーー */
.footer {
  width: 1920px;
  height: 750px;
  color: #F5F3EF;
  background: #1E1E21;
  padding: 157px 64px 138px;
}
.f-inner {
  position: relative;
  width: 100%;
  height: 286px;
  text-align: center;
}
.f-name {
  width: 100%;
  margin: 0 0 32px;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
}
.f-button {
  position: absolute;
  bottom: 0;
  left: 827px;
  background: #F5F3EF;
  border-radius: 50px;
  padding: 20px 30px;
  width: 138px;
}
.f-button a {
  font-size: 20px;
  line-height: 110%;
  color: #1E1E21;
}
.f-box {
  height: calc(750px - (157px + 138px + 286px));
  position: relative;
}
.f-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 569px;
  height: 29px;
  display: flex;
  justify-content: space-between;
}
.f-l-item {
  width: 111px;
  height: 100%;
}
.f-l-item a {
  font-size: 24px;
  line-height: 120%;
  color: #F5F3EF;
}
/* ーーーーーーーーーーフッター部分ここまでーーーーーーーーーー */

/* ーーーーーーーーーーSPフッター部分ここからーーーーーーーーーー */
@media screen and (max-width:400px) {
  .footer {
    width: 100%;
    height: 454px;
    padding: 53px 50px;
  }
  .f-inner {
    height: calc(454px - (53px + 53px + 239px));
  }
  .f-name {
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .f-button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 16px;
    width: 77px;
    height: 34px;
  }
  .f-button a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    line-height: 110%;
  }
  .f-box {
    height: 239px;
  }
  .f-list {
    display: flex;
    flex-direction: column;
    width: 92px;
    height: 182px;
  }
  .f-l-item {
    text-align: center;
    width: 100%;
    height: 24px;
  }
  .f-l-item a {
    font-size: 20px;
  }
}
/* ーーーーーーーーーーSPフッター部分ここまでーーーーーーーーーー */